<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Win Servers Dashboard</title>
    {% load static %}
    <link rel="ico" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/react.development.js' %}"></script>
    <script src="{% static 'js/react-dom.development.js' %}"></script>
    <script src="{% static 'js/babel.min.js' %}"></script>
</head>
<body>

<div id="root"></div>

<script type="text/babel" src="{% static 'js/index.js' %}"></script>

</body>
</html>